/* Doc styles */
* { margin: 0; padding: 0; }
html {height: 101%;background: #e36c28;}
body { font-size: 62.5%; }

#setup { width: 915px; margin-left: 80px;
border: 25px solid #000;
-moz-border-bottom-colors: #000;
-moz-border-top-colors: #000 #777 #666 #666  #555 #555 #444 #444 #333 #333 #000;
-moz-border-left-colors: #000;
-moz-border-right-colors: #000;
padding: 5px 5px 5px 15px; 
background: white;

}


#contact { width: 850px; border: 1px solid #c6d2dd; margin-top: 35px; padding: 40px 25px;
background: rgb(209,209,209); /* Old browsers */
background: -moz-linear-gradient(top, rgba(209,209,209,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,209,209,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, rgba(209,209,209,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
-moz-border-radius: 15px;
border-radius: 15px; 
border-style: hidden;
}

#contact .desc { }
#contact .desc h2 { font-family: Georgia, Tahoma, sans-serif; font-weight: normal; letter-spacing: -0.03em; color: #444; font-size: 2.4em; margin-bottom: 8px; }

#contact .desc p { font-family: Arial, Verdana, sans-serif; font-size: 1.2em; color: #333; line-height: 1.3em; margin-bottom: 15px; }

#contact .formblock { display: block; margin-bottom: 11px; font-size: 1.2em; display: block; font-style: italic; font-weight: bolder; font-family: Georgia, "Times New Roman", Times, serif; color: #484848;}
#contact .formblock  label { font-size: 1.6em; display: block; font-style: italic; font-weight: bolder; font-family: Georgia, "Times New Roman", Times, serif; color: #484848; }

#contact .formblock .txt { padding: 4px 6px; font-size: 1.6em; font-family: Arial, Tahoma, sans-serif; color: #666; width: 330px; }
#contact .formblock .txtarea { font-size: 1.5em; font-family: Arial, Tahoma, sans-serif; padding: 3px 5px; color: #666; width: 330px; height: 140px; }

#contact .formblock .error { font-weight: bold; font-size: 1.2em; font-style: normal; font-family: Arial, Tahoma, sans-serif; color: #9d3131; }
#contact .info { font-weight: bold; font-size: 1.3em; color: #59913d; margin-bottom: 10px; font-family: Arial, Tahoma, sans-serif; }

#contact .checkBlock {display: inline-table; margin-bottom: 11px;}
#contact .checkBlock label {font-size: 1.3em; display: inline-block; font-style: italic; font-weight: bolder; color: #666;; font-family: Georgia, "Times New Roman", Times, serif;
	color: #5f6d7a;}

#contact .checkBlock .txt { padding: 4px 6px; font-size: 1.6em; font-family: Arial, Tahoma, sans-serif; color: #666; width: 330px; }
#contact .checkBlock .txtarea { font-size: 1.5em; font-family: Arial, Tahoma, sans-serif; padding: 3px 5px; color: #666; width: 330px; height: 140px; }

#contact .checkBlock .error { font-weight: bold; font-size: 1.2em; font-style: normal; font-family: Arial, Tahoma, sans-serif; color: #9d3131; }

#contact p.tick { font-family: Arial, Helvetica, sans-serif; font-style: italic; font-size: 1.2em; color: #666; }

#contact .subbutton { display: block; padding: 3px 7px; font-size: 1.1em; font-weight: bold; font-family: "Trebuchet MS", Arial, Tahoma, sans-serif; color: #565656; }

.tooltip {
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 4%, #666666 10%, #474747 15%, #2c2c2c 20%, #000000 28%, #111111 79%, #2b2b2b 91%, #1c1c1c 95%, #131313 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(4%,#595959), color-stop(10%,#666666), color-stop(15%,#474747), color-stop(20%,#2c2c2c), color-stop(28%,#000000), color-stop(79%,#111111), color-stop(91%,#2b2b2b), color-stop(95%,#1c1c1c), color-stop(100%,#131313)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 4%,#666666 10%,#474747 15%,#2c2c2c 20%,#000000 28%,#111111 79%,#2b2b2b 91%,#1c1c1c 95%,#131313 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c4c4c 0%,#595959 4%,#666666 10%,#474747 15%,#2c2c2c 20%,#000000 28%,#111111 79%,#2b2b2b 91%,#1c1c1c 95%,#131313 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 4%,#666666 10%,#474747 15%,#2c2c2c 20%,#000000 28%,#111111 79%,#2b2b2b 91%,#1c1c1c 95%,#131313 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #4c4c4c 0%,#595959 4%,#666666 10%,#474747 15%,#2c2c2c 20%,#000000 28%,#111111 79%,#2b2b2b 91%,#1c1c1c 95%,#131313 100%); /* W3C */
	border:1px solid #fff;
	padding:10px 15px;
	width:200px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;


	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
