<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>New Art Test Submittion. </h1>
<h3>%s has signed up for the %s art test.\n
  Here is there other vitals:

</h3>
<table width="324" border="1">
  <tr>
    <td width="121">Student Name:</td>
    <td width="187" align="left">%s</td>
  </tr>
  <tr>
    <td>Student Number:</td>
    <td align="left">%s</td>
  </tr>
  <tr>
    <td>Student Email:</td>
    <td align="left">%s</td>
  </tr>
  <tr>
    <td>Current Class:</td>
    <td align="left">%s</td>
  </tr>  
</table>
    
   
</body>
</html>
