<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Finals Department - Art Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="style/main.css"/>
    </head>


<body>
	<div class="key">
		<h1>Setup Account</h1>
			<form action="/user_access/" method="post">
				<fieldset>
					<legend> User Login Information</legend>
					<P><B>Start by entering your Name and Email...</B>
					<p>User Name: <input name="user_name" type="text" size="20" maxlength="50"/></p>
					<p>Password: <input name="password" type="password" size="20" maxlength="50" /></p>
					
				</fieldset>
				<p><input name="submit" type="submit" /> </p>
			</form>
            <form action="/signup/" method='post'>
            	<input name="new_user" type="submit" onClick="/signup/" value="SIGN UP">
            </form>
	</div>
<!--
Discipline: <input name="disc" type="text" size="20" maxlength="50" /><br />
Current Class: <input name="classID" type="text" size="20" maxlength="50" /><br />
<input name="classID" type="text" size="20" maxlength="50" /><br />
Comments: <br /> <textarea name="comment" cols="50" rows="4"></textarea>

-->
</p>
</body>
</html>
