<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Finals Department - Art Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <link rel="stylesheet" href="http://refinedcg.com/dev/hsf/style/main.css"/>
        {% load url from future %}
    </head>


<body>
	<script type="text/javascript">
function redirectPage()
	{
		window.location = "http://localhost:8000/signup";
	}
</script>
	<div class="key" id="mainform">
		<h1>Setup Account</h1>
			{% if valid_login %}
			Log-in invalid! Try again.<br />
			{% endif %}
			<form action="/user_access/" method="post">
				<fieldset id=mainfs>
					<legend id="hsleg"> User Login Information</legend>
					<P id="hstext">Sign in or create a new account </P>
					<P id="hsfields">User Name: <input name="user_name" type="text" size="20" maxlength="50" required="required" /></P>
					<P id="hsfields">Password: <input name="password" type="password" size="20" maxlength="50" required="required" /></P>
				</fieldset>
				<input name="submit" type="submit" /> 
				<INPUT TYPE="button" VALUE="Sign Up" onClick="redirectPage()">
			</form>

	</div>
<!--
	            <form action="/signup/" method='post'>
            	<input name="new_user" type="submit" onClick="/signup/" value="SIGN UP">
            </form>
	
Discipline: <input name="disc" type="text" size="20" maxlength="50" /><br />
Current Class: <input name="classID" type="text" size="20" maxlength="50" /><br />
<input name="classID" type="text" size="20" maxlength="50" /><br />
Comments: <br /> <textarea name="comment" cols="50" rows="4"></textarea>

-->
</body>
</html>
