<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Finals Department - Art Test</title>
</head>

<body>
<h1>Setup Account</h1>
<form action="/user_access/" method="post">
<p>Yser Name: <input name="username" type="text" size="20" maxlength="50" /></p>
<p>password: <input name="password" type="text" size="20" maxlength="50" /></p>
<p><input name="submit" type="submit" /></p>
</form>
<!--
Discipline: <input name="disc" type="text" size="20" maxlength="50" /><br />
Current Class: <input name="classID" type="text" size="20" maxlength="50" /><br />
<input name="classID" type="text" size="20" maxlength="50" /><br />
Comments: <br /> <textarea name="comment" cols="50" rows="4"></textarea>

-->
</p>
</body>
</html>
