<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="SpryAssets/SpryAccordion.js" type="text/javascript"></script>
<script src="SpryAssets/SpryCollapsiblePanel.js" type="text/javascript"></script>
<link href="SpryAssets/SpryAccordion.css" rel="stylesheet" type="text/css" />
<link href="SpryAssets/SpryCollapsiblePanel.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="Accordion1" class="Accordion" tabindex="0">
  <div class="AccordionPanel">
    <div class="AccordionPanelTab">35% - Project - Prop Rig</div>
    <div class="AccordionPanelContent">Prop rigs are a great place to start learning how to rig.  They give a quick testing ground to student different types of rigging techniques, while finshing off a rig with out too much time invested.
    <div id="CollapsiblePanel1" class="CollapsiblePanel">
      <div class="CollapsiblePanelTab" tabindex="0">Level 0 - Placement Rig</div>
      <div class="CollapsiblePanelContent">Placement rigs are required for all rig, where it be character or prop rig.  This allows the layout artist to put the rig in its starting place.  It also hold all the layer system for the rig as well.</div>
    </div>
    <div id="CollapsiblePanel2" class="CollapsiblePanel">
      <div class="CollapsiblePanelTab" tabindex="0">Level 1 - Control Icons and Constraints</div>
      <div class="CollapsiblePanelContent">A Level 1 props have to have some of control icon and constraint system.  While this prop doesn't require a bind, the geometry should be grouped into its moving parts and have its pivot points set properly.</div>
    </div>
    <div id="CollapsiblePanel3" class="CollapsiblePanel">
      <div class="CollapsiblePanelTab" tabindex="0">Level 2 - Bound Prop</div>
      <div class="CollapsiblePanelContent">This prop requires a bound serface along with a control system to move the joints.  This rig can also include IK (Inverse Kinematic) systems.</div>
    </div>
    <div id="CollapsiblePanel4" class="CollapsiblePanel">
      <div class="CollapsiblePanelTab" tabindex="0">Level 3 - Complex Systems</div>
      <div class="CollapsiblePanelContent">These props take advantage or direct connections and set driven keys.  Other types of systems are acceptable like rigged textures and the visual systems that they represent.</div>
    </div>
    </div>
  </div>
  <div class="AccordionPanel">
    <div class="AccordionPanelTab">35% - Project - Tools</div>
    <div class="AccordionPanelContent">Different tools will require differnet problem solving techniques to complete.  In hense there are four levels of tools to tackle.</div>
  </div>
  <div class="AccordionPanel">
    <div class="AccordionPanelTab">10% - Toolset Project</div>
    <div class="AccordionPanelContent">Organize and collect all the tools built during the month and place them into a overall toolset.  New tools don't have to be created here.  Just bring everything together and nice logical order.</div>
  </div>
  <div class="AccordionPanel">
    <div class="AccordionPanelTab">10% - Character Rig</div>
    <div class="AccordionPanelContent">The Character rig pulls from all the development you've done on the props.</div>
  </div>    
</div>
<div style="background-color:#cccccc;">
<p><a href="#">TAG Main</a> | <a href="#">RBA</a> | <a href="#">Finals Department</a> 

        | <a href="#">CA Art Gallery</a></p>

      <p style="font-size: 0.6em">©2011 Technical Arts Group <a href="#">Sic Amet</a> 
</div>
<script type="text/javascript">
var Accordion1 = new Spry.Widget.Accordion("Accordion1");
var CollapsiblePanel1 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel1", {contentIsOpen:false});
var CollapsiblePanel2 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel2", {contentIsOpen:false});
var CollapsiblePanel3 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel3", {contentIsOpen:false});
var CollapsiblePanel4 = new Spry.Widget.CollapsiblePanel("CollapsiblePanel4", {contentIsOpen:false});
</script>
</body>
</html>
