<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Current Path: {{ path }}</title>
</head>
<h1>Tiling Props</h1>

<p>Here we are testing placing data: {{ blah }}, {{ more_blah }}.</p>
<h2>Looping Test</h2>
<p>
Students
<ul>
{% for student in students %}
<!-- Insert your code here -->
	<li>{{ student.first_name }}, {{ student.last_name }}
    <ul>
    	<li>Student Number: {{ student.student_number }}</li>
        <li>Current Class: 	{{ student.class }} </li>
    </ul>
    </li>
    
{% endfor %}
</ul>
</p>
<body>

</body>
</html>
