<table width="400" height="90" border="0" align="left" cellpadding="1" class='tile'>
  <tr>
    <td><img src="prop_img.png" width="80" height="80" id='view'/></td>
    <td width='200'>
    	<div id='prop' class='tile_txt'>Fire Hydrant</div><br />
    	<div id='mod' class='tile_txt'>Modeler - John Doe</div><br />
    	<div id='text' class='tile_txt'>Texture - John Doe</div><br />
    	<div id='rig' class='tile_txt'>Modeler - John Doe</div><br />               
    </td>
    <td><img src="download.png" name="download" id="download" class='dload'/></td>
  </tr>
</table>
