<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
.tile {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-color: #B5AFA6;
	height: 90px;
	width: 400px;
	vertical-align: top;
	padding-left: 5px;
	border: 6;
	border-color: #000;
}
.dload {
	left: auto;
	bottom: auto;
}
.tile_txt {
	height: 0px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
	font-weight: 900;
	text-align: left;
}
</style>
</head>
<table width="400" height="90" border="0" align="left" cellpadding="1" class='tile'>
  <tr>
    <td><img src="prop_img.png" width="80" height="80" id='view'/></td>
    <td width='200'>
    	<div id='prop' class='tile_txt'>Fire Hydrant</div><br />
    	<div id='mod' class='tile_txt'>Modeler - John Doe</div><br />
    	<div id='text' class='tile_txt'>Texture - John Doe</div><br />
    	<div id='rig' class='tile_txt'>Modeler - John Doe</div><br />               
    </td>
    <td><img src="download.png" name="download" id="download" class='dload'/></td>
  </tr>
</table>

<body>
</body>
</html>
